<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ww.boengongye.mapper.DfAoiSlMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ww.boengongye.entity.DfAoiSl">
        <id column="id" property="id" />
        <result column="createtime" property="createtime" />
        <result column="type" property="type" />
        <result column="date" property="date" />
        <result column="clazz" property="clazz" />
        <result column="time" property="time" />
        <result column="stage" property="stage" />
        <result column="firstOrPOI" property="firstOrPOI" />
        <result column="groupCharacteristics" property="groupCharacteristics" />
        <result column="lf2" property="lf2" />
        <result column="af2" property="af2" />
        <result column="bf2" property="bf2" />
        <result column="dlf2" property="dlf2" />
        <result column="daf2" property="daf2" />
        <result column="dbf2" property="dbf2" />
        <result column="de94f2" property="de94f2" />
        <result column="judge" property="judge" />
    </resultMap>

</mapper>
