<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ww.boengongye.mapper.DfAoiSeatProtectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ww.boengongye.entity.DfAoiSeatProtect">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="factory_id" property="factoryId" />
        <result column="line_boby_id" property="lineBobyId" />
        <result column="seat" property="seat" />
        <result column="classCategory" property="classCategory" />
        <result column="update_time" property="updateTime" />
        <result column="update_name" property="updateName" />
    </resultMap>

</mapper>
