<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ww.boengongye.mapper.DfAoiUndetectedMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ww.boengongye.entity.DfAoiUndetected">
        <id column="id" property="id" />
        <result column="defectid" property="defectid" />
        <result column="fqc_user" property="fqcUser" />
        <result column="oqc_use" property="oqcUse" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
