<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ww.boengongye.mapper.DfAoiFlawConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ww.boengongye.entity.DfAoiFlawConfig">
        <id column="id" property="id" />
        <result column="test_type" property="testType" />
        <result column="process" property="process" />
        <result column="project" property="project" />
        <result column="big_area" property="bigArea" />
        <result column="flaw_name" property="flawName" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
