<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ww.boengongye.mapper.DfControlStandardConfigBatchMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ww.boengongye.entity.DfControlStandardConfigBatch">
        <id column="id" property="id" />
        <result column="batch_code" property="batchCode" />
        <result column="project" property="project" />
        <result column="line_body" property="lineBody" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
