<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ww.boengongye.mapper.DfFlowNextLevelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ww.boengongye.entity.DfFlowNextLevel">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="next_level" property="nextLevel" />
        <result column="name" property="name" />
        <result column="create_time" property="createTime" />
        <result column="create_name" property="createName" />
        <result column="set_status" property="setStatus" />
    </resultMap>

</mapper>
