<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ww.boengongye.mapper.DfFurnaceOkRateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ww.boengongye.entity.DfFurnaceOkRate">
        <id column="id" property="id" />
        <result column="type" property="type" />
        <result column="num" property="num" />
        <result column="ok_rate" property="okRate" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
