<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ww.boengongye.mapper.DfGrindingStandardMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ww.boengongye.entity.DfGrindingStandard">
        <id column="id" property="id" />
        <result column="project" property="project" />
        <result column="process" property="process" />
        <result column="tool_num" property="toolNum" />
        <result column="standard" property="standard" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
