<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ww.boengongye.mapper.DfGroupOkRateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ww.boengongye.entity.DfGroupOkRate">
        <id column="id" property="id" />
        <result column="group_id" property="groupId" />
        <result column="all_check_num" property="allCheckNum" />
        <result column="ok_check_num" property="okCheckNum" />
        <result column="ok_rate" property="okRate" />
        <result column="inthe_time" property="intheTime" />
        <result column="test_time" property="testTime" />
        <result column="create_time" property="createTime" />
        <result column="factory" property="factory" />
        <result column="process" property="process" />
        <result column="project" property="project" />
        <result column="linebody" property="linebody" />
        <result column="test_type" property="testType" />
        <result column="day_or_night" property="dayOrNight" />
    </resultMap>

</mapper>
