<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ww.boengongye.mapper.DfKnifPositionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ww.boengongye.entity.DfKnifPosition">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="process" property="process" />
        <result column="knif_positon" property="knifPositon" />
        <result column="factory" property="factory" />
        <result column="project" property="project" />
        <result column="line_body" property="lineBody" />
        <result column="color" property="color" />
    </resultMap>

</mapper>
