<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ww.boengongye.mapper.DfKpiCountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ww.boengongye.entity.DfKpiCount">
        <id column="id" property="id" />
        <result column="factory" property="factory" />
        <result column="line" property="line" />
        <result column="project" property="project" />
        <result column="workshop" property="workshop" />
        <result column="workstation" property="workstation" />
        <result column="process" property="process" />
        <result column="type" property="type" />
        <result column="create_user_code" property="createUserCode" />
        <result column="check_rate" property="checkRate" />
        <result column="ok_num" property="okNum" />
        <result column="ng_num" property="ngNum" />
        <result column="type_check" property="typeCheck" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
