<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ww.boengongye.mapper.DfLightHoleGrindingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ww.boengongye.entity.DfLightHoleGrinding">
        <id column="id" property="id" />
        <result column="classes" property="classes" />
        <result column="add_addition" property="addAddition" />
        <result column="is_replace" property="isReplace" />
        <result column="add_user" property="addUser" />
        <result column="confirm_user" property="confirmUser" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
