<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ww.boengongye.mapper.DfOrtChangeSpecificationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ww.boengongye.entity.DfOrtChangeSpecification">
        <id column="id" property="id" />
        <result column="model" property="model" />
        <result column="test_name" property="testName" />
        <result column="test_process_amount" property="testProcessAmount" />
        <result column="test_project" property="testProject" />
        <result column="predicate" property="predicate" />
        <result column="stage" property="stage" />
        <result column="standard" property="standard" />
    </resultMap>

</mapper>
