<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ww.boengongye.mapper.DfProblemFaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ww.boengongye.entity.DfProblemFa">
        <id column="id" property="id" />
        <result column="project_type" property="projectType" />
        <result column="type" property="type" />
        <result column="problem" property="problem" />
        <result column="fa" property="fa" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
