<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ww.boengongye.mapper.DfProDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ww.boengongye.entity.DfProDetail">
        <id column="ID" property="id" />
        <result column="ProductID" property="ProductID" />
        <result column="Position" property="Position" />
        <result column="StandardValue" property="StandardValue" />
        <result column="ToolLibraryTypeID" property="ToolLibraryTypeID" />
        <result column="DrawingUpperLimit" property="DrawingUpperLimit" />
        <result column="DrawingLowerLimit" property="DrawingLowerLimit" />
        <result column="CorresProcess" property="CorresProcess" />
        <result column="ProcessCorres" property="ProcessCorres" />
        <result column="ProgramValue" property="ProgramValue" />
        <result column="CorrectionMethod" property="CorrectionMethod" />
        <result column="CorrectionDirection" property="CorrectionDirection" />
        <result column="ToleranceUpperLimit" property="ToleranceUpperLimit" />
        <result column="ToleranceLowerLimit" property="ToleranceLowerLimit" />
        <result column="CircleAttr" property="CircleAttr" />
        <result column="Remark" property="Remark" />
        <result column="SortNum" property="SortNum" />
        <result column="CreateTime" property="CreateTime" />
        <result column="CreateUser" property="CreateUser" />
        <result column="UpdateTime" property="UpdateTime" />
        <result column="UpdateUser" property="UpdateUser" />
        <result column="IsDelete" property="IsDelete" />
        <result column="IsRepair" property="IsRepair" />
        <result column="HType" property="HType" />
        <result column="CompRatio" property="CompRatio" />
        <result column="TrendValue" property="TrendValue" />
        <result column="ProgramValueRe" property="ProgramValueRe" />
        <result column="ControlUpperLimit" property="ControlUpperLimit" />
        <result column="ControlLowerLimit" property="ControlLowerLimit" />
        <result column="FocusType" property="FocusType" />
    </resultMap>

</mapper>
