<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ww.boengongye.mapper.DfRoutingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ww.boengongye.entity.DfRouting">
        <id column="id" property="id" />
        <result column="routing_code" property="routingCode" />
        <result column="factory_code" property="factoryCode" />
        <result column="project_code" property="projectCode" />
        <result column="section_code" property="sectionCode" />
        <result column="station_code" property="stationCode" />
        <result column="line_body_code" property="lineBodyCode" />
        <result column="routing_name" property="routingName" />
        <result column="routing_detail" property="routingDetail" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
