<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ww.boengongye.mapper.DfSizeCheckItemInfosMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ww.boengongye.entity.DfSizeCheckItemInfos">
        <id column="id" property="id" />
        <result column="check_result" property="checkResult" />
        <result column="check_time" property="checkTime" />
        <result column="check_value" property="checkValue" />
        <result column="com_direction" property="comDirection" />
        <result column="comp_ratio" property="compRatio" />
        <result column="comp_value" property="compValue" />
        <result column="control_lower_limit" property="controlLowerLimit" />
        <result column="control_upper_limit" property="controlUpperLimit" />
        <result column="d_code" property="dCode" />
        <result column="float_value" property="floatValue" />
        <result column="focus_type" property="focusType" />
        <result column="item_name" property="itemName" />
        <result column="lsl" property="lsl" />
        <result column="remark" property="remark" />
        <result column="repair_type" property="repairType" />
        <result column="sn" property="sn" />
        <result column="standard_value" property="standardValue" />
        <result column="tool_code" property="toolCode" />
        <result column="tool_flag" property="toolFlag" />
        <result column="trend_value" property="trendValue" />
        <result column="usl" property="usl" />
        <result column="bad_condition" property="badCondition" />
        <result column="check_id" property="checkId" />
    </resultMap>

</mapper>
