<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ww.boengongye.mapper.DfUserRelationBigScreenMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ww.boengongye.entity.DfUserRelationBigScreenMenu">
        <id column="id" property="id" />
        <result column="user_account" property="userAccount" />
        <result column="menu_id" property="menuId" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
