<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ww.boengongye.mapper.DfWorkOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ww.boengongye.entity.DfWorkOrder">
        <id column="id" property="id" />
        <result column="work_order_code" property="workOrderCode" />
        <result column="factory_code" property="factoryCode" />
        <result column="process_code" property="processCode" />
        <result column="project_code" property="projectCode" />
        <result column="linebody_code" property="linebodyCode" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
