<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ww.boengongye.mapper.ProcessConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ww.boengongye.entity.ProcessConfig">
        <id column="id" property="id" />
        <result column="factory_id" property="factoryId" />
        <result column="line_body_id" property="lineBodyId" />
        <result column="project_number" property="projectNumber" />
        <result column="project_name" property="projectName" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
