<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ww.boengongye.mapper.UserDepartmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ww.boengongye.entity.UserDepartment">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="alias" property="alias" />
        <result column="department_code" property="departmentCode" />
        <result column="data_desc" property="dataDesc" />
    </resultMap>

</mapper>
